@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-green-secondary: #00897B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#root {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

/* LM - Styles */

.lm-channel .lm-media-render-portal {
  position: absolute;
  width: 100%;
  height: 100%;

}

.lm-channel-block {
  width: 100%;
  height: 100vh;
  float: left;
  overflow-y: hidden;
  position: relative;
}

.lm-d-flex {
  display: flex;
}

.lm-left-panel {
  width: 25%;
  height: 100%;
  float: left;
}

.lm-right-panel {
  float: left;
  width: 75%;
  height: 100%;
}


.lm-chat-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lm-cursor-pointer {
  cursor: pointer;
}

.lm-cursor-pointer {
  cursor: pointer;
}

.justify-content-around {
  justify-content: space-around;
}

.flex-direction {
  flex-direction: column;
}

/* LM - Styles */

/* LM-Left-panel  */
.lm-channel-list {
  width: 100%;
  height: 100vh;
  border-right: 1px solid #e6ebf5;
  position: relative;
}



.lm-channel-list .lm-channel-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  border-bottom: 1px solid #dae1ee;
}

.create-new-dm .lm-channel-list-header {
  justify-content: flex-start;
  gap: 12px;
}

.lm-channel-list .lm-channel-list-header .title {
  color: #484f67;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.lm-channel-list .lm-channel-list-body {
  width: 100%;
  overflow-y: auto;
}

.lm-channel-list .lm-channel-list-body#lm-channel-list-dm {
  width: 100%;
  overflow-y: auto;
}

.lm-channel-list .lm-channel-list-body .channel-media {
  display: flex;
  align-items: center;
  margin: 0 0 0px 0;
  cursor: pointer;
  padding: 10px 15px;
  gap: 10px;
  height: 80px;
}

.lm-channel-list .lm-channel-list-body .channel-media:hover,
.lm-channel-list .lm-channel-list-body .channel-media.selected {
  background-color: #e6ebf5;
  transition: 0.3s all ease-in-out;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-icon {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: #484f67;
  font-size: 1rem;
  font-weight: bold;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc {
  padding: 18px 0;
  width: 81%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #020202;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-title .channel-counts {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  margin-top: 2px;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-title .channel-counts img {
  margin: 0 5px 0 0;
}

.ellipse {
  width: 3px;
  height: 3px;
  background: #9b9b9b;
  border-radius: 50%;
  margin: 0 4px;
}

.exploreTextTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

.exploreTextMsg {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  margin-top: 5px;
  white-space: nowrap;
  max-width: 150px;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .time {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .time {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .time {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc button {
  background: var(--color-green-secondary);
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 5px 12px;
  gap: 3px;
  border: 1px solid #fff;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc button.joined {
  background: #fff;
  color: var(--color-green-secondary);
  border: 1px solid var(--color-green-secondary);
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc button img {
  height: 24px;
  width: 24px;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-info {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-info .channel-last-conversation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-info .channel-last-conversation img {
  width: 16px;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-info .channel-last-conversation img {
  width: 16px;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-info .channel-last-conversation img {
  width: 16px;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-unseen-convo-count {
  position: absolute;
  right: 0;
  top: 35px;
  height: 18px;
  width: 18px;
  overflow: hidden;
  border-radius: 50%;
  background: #09d174;
  font-size: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #fff;
  line-height: 14px;
  font-weight: 400;
}

.channel-info-gap {
  flex-grow: 1;
}

.reactionHeader {
  padding: 20px;
  font-size: 20px;
  position: relative;
}

.reactionHeader img {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.reactions-selection-tabs {
  width: 490px;
  padding: 0 17px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(208, 216, 226, 0.5);
  margin: 0 7px;
}

.reaction-users-list {
  padding: 20px;
}

.reactionUser {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.reactionUser .userImg {
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.reactionUser .userImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.reactionUser .userName {
  font-size: 16px;
  text-transform: capitalize;
}

.reactionUser .remove-emoji-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #666;
  cursor: pointer;
}

.lm-chat-message-reaction {
  width: max-content;
  float: left;
  margin: 0 5px 10px 0;
  height: 1.75rem;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  border-radius: 24px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #acb7c0;
  background-color: #fff;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lm-chat-message-reaction .reaction-count {
  font-family: "Roboto", sans-serif;
  font-size: 0.688rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666;
  margin-left: 0.188rem;
}

.reaction-con {
  font-size: 14px;
}

/* LM-Left-panel  */

/* Header */
.lm-channel-header {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  background: #f6f7f9;
  position: relative;
}

.lm-channel-header.topicHeader {
  box-shadow: 0px 2px 3px #ccc;
  margin: 0px 0 0 -20px;
  border-top: 1px solid #e0e0e0;
  cursor: pointer;
}

.lm-channel-header .lm-header-left {
  display: flex;
  align-items: center;
}

.lm-channel-header .lm-channel-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 12px 0 0;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #e0e0e0;
}

.lm-channel-header .lm-channel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lm-channel-header .lm-channel-desc {
  display: flex;
  flex-direction: column;
}

.lm-channel-header .lm-channel-desc .lm-channel-title {
  color: #020202;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 0px 0;
}

.lm-channel-header .lm-channel-desc .lm-channel-participants {
  color: #818182;
  font-size: 14px;
  font-weight: 400;
  max-height: 40px;
  overflow-y: auto;
  scrollbar-width: none;

}

.lm-channel-header .lm-channel-desc .lm-channel-participants::-webkit-scrollbar {
  width: 0px;
  /* Chrome & Edge */
}

.lm-channel-header .lm-header-right {
  display: flex;
  align-items: center;
}

.lm-channel-header .lm-header-right .lm-channel-icon {
  height: 22px;
  width: 22px;
  margin: 0 35px 0 0;
}

.lm-channel-header .lm-header-right .lm-channel-icon img {
  width: 100%;
  cursor: pointer;
}

.lm-channel-header .lm-header-right .lm-channel-icon img.menu {
  width: 100%;
  height: 20px;
  padding: 2px 8px;
}

/* Header */

/* Message Box */
.lm-channel {
  background-color: #e6ebf5;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;

}


.scroll-to-bottom-shortcut {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  background-color: white;
  z-index: 9;
  border-radius: 50%;
}

.lm-channel .dmReqBlock {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #b1bbc5;
}

.lm-channel .dmReqBlock p {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 24px 0;
  text-align: center;
}

.lm-channel .dmReqBlock .dmActions {
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.lm-channel .dmReqBlock .dmActions button {
  width: 110px;
  height: 48px;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  padding: 16px 0;
  border: none;
  cursor: pointer;
}

.lm-channel .data-pill {
  width: auto;
  border-radius: 16px;
  padding: 3px 8px;
  margin: 10px auto;
  background-color: #acb7c0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.lm-chat-card {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.lm-chat-card .actions {
  display: none;
  gap: 10px;
  color: #666;
}

.lm-chat-card .userTag {
  color: #007aff;
  font-weight: normal;
  cursor: pointer;
}

.data-pill .userTag {
  color: #fff;
}

.lm-chat-card:hover .actions {
  display: flex;
  transition: all 0.5s ease-in-out;
}

.lm-channel .lmUserData {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #acb7c0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  margin-bottom: 12px;
}

.lm-channel .conversation {
  max-width: 410px;
  min-width: 180px;
  width: auto;
  border-radius: 15px;
  padding: 8px 12px;
  margin: 0 0 3px 0;
  background-color: #fff;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.conversation.ai-chatbot-conversation {
  max-width: 285px;
}

.lm-reply-wrapper {
  background-color: rgba(208, 216, 226, 0.5);
  border-radius: 8px;
  border-left: 3px solid #008274;
  padding: 5px;
  margin: 0 0 5px 0;
}

.lm-reply-wrapper-content {
  display: flex;
  flex-direction: column;
}

.lm-reply-wrapper-content-name {
  font-size: 13px;
  color: #11c5b2;
  font-weight: bold;
  max-width: 380px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.lm-reply-wrapper-content-msg {
  margin: 0;
  font-size: 13px;
  color: #666666;
  word-break: break-word;
  max-width: 380px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.lm-channel .conversation .name {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 16px;
  color: #837fba;
  margin: 0 0 4px 0;
  cursor: pointer;
}

.lm-channel .conversation .msg {
  color: #020202;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.lm-channel .conversation .time {
  color: #8a8a8e;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 2px;
  align-items: center;
}

.lm-channel .conversation .edited-bullet {
  background-color: #9b9b9b;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  margin: 0 4px;
}

.lm-channel .conversation.receiver {
  background-color: #fff;
  float: left;
  clear: both;
}

.lm-channel .conversation.sender {
  background-color: #fff;
  float: right;
  clear: both;
}

.lm-chat-card.sender {
  flex-direction: row-reverse;
  margin-right: 8px;
}

/* Message Box */

/* LM Input */
.lm-channel-footer-wrapper {
  position: relative;
}

.input-media-carousel-holder {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-media-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 1;
}

.lm-input-carousel {
  position: absolute;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 99;
  justify-content: center;
  align-items: center;
  background: #000000b3;
  overflow: hidden;
}

.lm-input-carousel .slider-wrapper .slider {
  display: flex;
}

.lm-input-carousel-image-element {
  width: 100%;
  max-height: 415px;
  object-fit: contain;
}

.lm-input-carousel-video-element {
  width: 100%;
  max-height: 415px;
  object-fit: contain;
}

.lm-input-carousel-document-element {
  width: 100%;
  height: 300px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.lm-input-carousel-document-element img {
  max-height: 200px;
}

.lm-input-carousel-document-element .document-file-details {
  line-height: 1.25rem;
  color: white;
  margin: 1rem;
}

.lm-input-carousel ul li {
  list-style: none;
}

.lm-input-carousel .control-arrow,
.lm-input-carousel .carousel-status {
  display: none;
}

.lm-input-carousel .thumbs {
  display: flex;
  justify-content: center;
  gap: 0px;
}

.lm-input-carousel .thumbs .thumb {
  height: 60px !important;
  width: 60px !important;
  overflow: hidden;
  border: 2px solid transparent;
}

.lm-input-carousel .thumbs .thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.lm-input-carousel .thumbs .thumb.selected img {
  border: 2px solid #7b94ea;
}

.lm-upload-media-dialog {
  padding: 0px 5px;
  display: flex;
}

.lm-input-attachments-menu-sheet-wrapper {
  position: absolute;
  bottom: 100%;
  left: 0px;
  margin-bottom: 12px;
  width: 100%;
  cursor: auto;
  z-index: 10;
}

.lm-input-attachments-menu-sheet {
  padding: 24px 0px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  margin-left: 12px;
  margin-right: 24px;
  border-radius: 10px;
}

.lm-chat-input-attachment-label label input {
  display: none;
}

.lm-chat-input-attachment-label label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lm-chat-input-attachment-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 0px 10px;
}

.lm-chat-input-attachment-label .title {
  color: #9b9b9b;
  font-size: 13px;
  white-space: nowrap;
  flex-grow: 1;
}

.lm-lm-d-flex {
  display: flex;
}

.lm-content-center {
  justify-content: center;
}

.lm-date-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lm-chat-text-area-wrapper {
  flex-grow: 1;
  border-radius: 24px;
  box-shadow: 0 0 2px #3a465d80;
  background-color: #ffffff;
}

.lm-chat-text-area__input-box {
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  max-height: 80px;
  overflow-y: auto;
}

.lm-chat-text-area__input-box:empty:before {
  content: attr(data-placeholder);
  font-size: 14px;
  line-height: 18px;
  color: rgba(72, 79, 103, 0.5);
}

.lm-chat-text-area__input-box::placeholder {
  color: black
}

.lm-chat-text-area__input-box>p {
  margin-bottom: 0;
}

.lm-chat-text-area__input-box:focus {
  outline: none;
}

.lm-channel-footer {
  padding: 8px 16px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.lm-channel-footer .disable-input {
  border-radius: 24px;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #dae1ee;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #808080;
}

.lm-channel-footer input {
  border-radius: 24px;
  color: #808080;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #dae1ee;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.lm-channel-footer .lm-channel-icon {
  width: auto;
  margin: 0 16px 0 0;
}


.lm-channel-footer .lm-channel-icon.send {
  width: 48px;
  height: 48px;
  margin: 0px;
}



.lm-post-conversation {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
}

.lm-post-conversation>img {
  width: 48px;
  height: 48px;
  margin-left: 8px;
}

/* LM Input */

.customClass {
  color: red;
  background: #f0f0f0;
  padding: 16px;
  border-radius: 8px;
  margin: 0 0 16px 0;
  width: 250px;
}

.text-center {
  text-align: center;
}

/* Error */
.lmError {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f4ff;
}

.lmError .lmErrorBox {
  padding: 3rem;
  box-shadow: 0 0 3px #ccc;
  border-radius: 10px;
  background: #fff;
}

.lmError .lmErrorBox h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #212b33;
  letter-spacing: 3px;
}

.lmError .lmErrorBox .lmErrorTitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #212b33;
}

.lmError .lmErrorBox .lmErrorMsg {
  font-size: 1rem;
  color: #6c6e70;
}

/* Error */
.lm-dual-scroll-container {
  height: 100%;
  position: relative;
  overflow-y: scroll;
  display: block;
  width: 100%;
  padding-left: 8px;
}

.gifContainer {
  width: 100% !important;
}

/* Participants list */
.lm-participant-wrapper {
  width: 100%;
  float: left;
}

.lm-participant-header {
  width: 100%;
  float: left;
  background: #f6f7f9;
  padding: 19px 20px;
  border-bottom: 1px solid #dae1ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lm-participant-header .heading {
  font-size: 20px;
  color: #000;
  line-height: 23px;
  font-weight: 400;
  display: flex;
  gap: 20px;
}

.lm-participant-header .heading .back-icon {
  font-size: 20px;
  cursor: pointer;
}

.lm-participant-header .counts {
  font-size: 14px;
  color: #666;
  line-height: 16px;
  font-weight: 400;
}

.lm-participant-body {
  width: 100%;
  padding: 20px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  gap: 20px;
  height: 92vh;
  overflow-y: scroll;
}

.lm-participant-card {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 0;
}

.lm-delete-msg {
  color: #9b9b9b;
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
}

.lm-participant-card .lm-participant-card-user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  display: flex;
  text-transform: capitalize;
}

.lm-participant-card .lm-participant-card-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lm-participant-card .lm-participant-card-detail {
  width: 94%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: capitalize;
}

.lm-participant-card .lm-participant-card-detail .name {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 18px;
}

.member-search {
  width: 100%;
  padding: 15px 20px;
  border-bottom: 1px solid #e6ebf5;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
  display: flex;
  gap: 15px;
}

.member-search input {
  width: 90%;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.lm-media {
  max-width: 210px;
  max-height: 210px;
  overflow: hidden;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -4px;
}

.lm-media img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: contain;
}

.lm-media .pdf {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 8px;
  background: #f9f9f9;
  border-radius: 8px;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

.lm-media .pdf img {
  width: 24px;
  border-radius: 0px;
}

.lm-media .pdf .pdfName {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
}

.lm-participant-card .lm-participant-card-detail .desc {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  line-height: 18px;
  border-bottom: 1px solid #e7ebf1;
  padding-bottom: 12px;
}

/* Participants list */

.lmReportPostWrapper {
  max-width: 25rem;
  width: 100%;
  background: #fff;
  position: relative;
}

.lmReportPostWrapper__header {
  position: relative;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 1.25rem 0 2.25rem 0;
  color: var(--dark-color);
}

.lmReportPostWrapper__header__closeIcon {
  position: absolute;
  top: 0;
  right: 16px;
  cursor: pointer;
}

.lmReportPostWrapper__body {
  padding: 0 1.875rem;

}

.lmReportPostWrapper__body__content {
  margin-bottom: 1.875rem;

}

.lmReportPostWrapper__body__content--texted {
  margin: 0 0 0.3125rem 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.lmReportPostWrapper__body__content--texted span {
  font-weight: 500;
}

.lmReportPostWrapper__body__content__types {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0.625rem 0 0 0;
}

.lmReportPostWrapper__body__content__types span {
  border-radius: 1.25rem;
  border: 0.0625rem solid rgba(72, 79, 103, 0.5);
  padding: 0.625rem 1.25rem;
  color: rgba(72, 79, 103, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  float: left;
  cursor: pointer;
}

.lmReportPostWrapper__body__content__types span.active {
  border: 0.0625rem solid rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.87);
}

.lmReportPostWrapper__body__content__actions {
  display: flex;
  margin: 1.25rem 0 0 0;
  flex-direction: column;
  gap: 1.25rem;
}

.lmReportPostWrapper__body__content__actions--input {
  width: 100%;
  padding: 0.75rem 0.9375rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(72, 79, 103, 0.5);
  outline: none;
}

.lmReportPostWrapper__body__content__actions--btnReport {
  width: 100%;
  border: none;
  color: #fff;
  background-color: #FB1609;
  font-weight: 500;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.75rem 0.9375rem;
  cursor: pointer;
}

.lmReportPostWrapper__body__content__actions--btnReport:disabled {
  width: 100%;
  border: none;
  color: #fff;
  background-color: #e6ebf5;
  font-weight: 500;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.75rem 0.9375rem;
  cursor: pointer;
}

/* // Report Post Dialog */
.lm-media .thumbnail-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.lm-media .thumbnail-wrapper {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 100px;
  width: 100px;
}

.lm-media .thumbnail {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
}

.lm-media .single-media {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.lm-media .more-attachments-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}



.lm-media video {
  max-height: 300px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.lm-modal-media {
  width: 100%;
  text-align: center;
  max-height: 450px;
}

.lm-modal-media img,
.lm-modal-media video {
  max-height: 300px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.modal-header {
  border: none;
}

.lm-channel-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lm-carousel-header {
  display: flex;
  gap: 10px;
}

.lm-carousel-header .lm-profile {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 16px;
}

.lm-carousel-header .lm-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lm-carousel-header .lm-profile-info {
  display: flex;
  flex-direction: column;
}

.lm-carousel-header .lm-profile-info .lm-name {
  font-size: 16px;
  color: #333;
}

.lm-carousel-header .lm-profile-info .lm-desc {
  font-size: 12px;
  color: #666;
  font-weight: 400;
}

.none {
  display: none !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 56%;
  background-size: 60% 60%;
  background-color: #000;
  border-radius: 50%;
}

.carousel-control-prev-icon {
  background-position: 40%;
}

.carousel-indicators {
  display: none;
}

.taggingBox {
  top: -172px !important;
  left: 140px !important;
  border-radius: 8px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2392156863);
  max-height: 180px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 260px;
  z-index: 9;
  background-color: #fff;
  padding: 10px 0;
}

.taggingTile {
  display: flex;
  padding: 5px 20px;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  background-color: transparent;
  border: none;
}

.taggingTile .tagUserName {
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}

.postTaggingTile {
  background: #fff;
  padding: 12px 15px 3px;
  display: block;
  border: none;
  width: 260px;
  text-align: left;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
}

.taggingTile span,
.postTaggingTile span {
  text-transform: capitalize;
}

.lm-channel .lm-dialog-modal {
  position: relative;
  right: -186px;
  top: 0px;
  border-radius: 0;
  max-width: 76%;
  margin: 0 auto;
  border-left: 1px solid #e0e0e0;
}

.lm-channel .lm-dialog-content-modal {
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.modal-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

/* Giphy */
.lm-giphy-box {
  padding: 20px;
  height: 300px;
}

.lm-giphy-box .lm-giphy-search {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.lm-giphy-box .lm-giphy-search input {
  border: none;
  width: 95%;
  padding: 8px 16px;
  font-size: 14px;
}

.lm-giphy-box .lm-giphy-search button {
  font-size: 12px;
  border: 0px;
  padding: 8px 20px;
}

.lmGifContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-height: 230px;
  overflow-y: auto;
}

.lmGifContainer .lm-giphy-img {
  max-width: 120px;
  object-fit: contain;
  background: #f0f0f0;
}

.lm-giffy-icon {
  width: 24px;
  height: 24px;

}

.lmGifContainer .lm-giphy-img:hover {
  transform: scale(1.05);
}

.lm-input-giffy {
  position: relative;
}

.lm-input-giffy {
  position: relative;
}

.lm-input-giffy img {
  width: 26px !important;
}

.lm-giphy-container {
  position: relative;
  width: 100%;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  overflow-y: auto;
}



/* Giphy */

.lm-content-modal {
  border-radius: 0;
  box-shadow: none;
  border: none;
  top: 34px;
  height: 86vh;
  right: 281px;
  width: 1080px;
}

.lm-og-tags {
  max-height: 275px;
  border-radius: 8px;
  margin: 0px;
  overflow: hidden;
  background-color: rgba(155, 155, 155, 0.1);
  font-size: 12px;
  padding: 0 0 0px;
  margin: 0 0 5px 0;
}

.lm-og-tags .lm-og-img {
  overflow: hidden;
  height: 150px;
  width: 100%;
}

.lm-og-tags .lm-og-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

.lm-og-tags .lm-og-content {
  padding: 10px;
}

.lm-og-tags .lm-og-title {
  font-weight: 500;
  color: #000000;
  font-size: 13px;
}

.lm-og-tags .lm-og-desc {
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.og-tag-wrapper {
  padding-left: 3.2rem;
  background: #f5f5f5;
  display: flex;
}

.og-tag-container {
  margin-top: 0.75rem;
  margin-bottom: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #e8ecf2;
  flex-grow: 1;
  line-height: 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.og-tag-icon {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 68px;
  width: 97px;
  background-color: #72beb6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.og-tag-icon>img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 100%;
  height: 100%;
}

.og-tag-data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #e8ecf2;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.og-tag-data-header {
  flex-grow: 1;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 24px;
}

.og-tag-data-description {
  flex-grow: 1;
  font-size: 0.875rem;
  line-height: 20px;
}

.og-tag-data-url {
  flex-grow: 1;
  font-size: 0.75rem;
  line-height: 16px;
}

.remove-og-tag-button {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-gif-view-container {
  padding: 8px;
  height: calc(100vh - 124px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.selected-gif-view-container img {
  height: 50%;
}

.remove-selected-gif-icon {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.lm-participant-card-detail .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* Poll View */
.lm-poll-wrapper {
  width: 424px;
  padding: 48px;
  padding-bottom: 16px;
  position: relative;
}

.lm-poll-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  margin-bottom: 14px;
  position: relative;
}

.lm-poll-heading img {
  position: absolute;
  cursor: pointer;
  top: -30px;
  right: -30px;
}

.poll-creation-textarea {
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid #D0D8E2;
  border-radius: 10px;
  padding: 16px;
}

.poll-options-head-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 5px;
}

.poll-option-wrapper {
  position: relative;
}

.poll-option-text-input {
  border: 1px solid #D0D8E2;
  height: 58px;
  padding: 16px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 16px;
}

.poll-option-remove {
  position: absolute;
  top: 16px;
  bottom: 16px;
  right: 16px;

}

.poll-option-add-more {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-green-secondary);
  border: 1px solid #D0D8E2;
  border-radius: 10px;
  padding: 16px;
  cursor: pointer;
  margin-bottom: 16px;
}

.poll-option-add-more span {
  margin-left: 6px;
}

.poll-expires-heading {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #ACB7C0;
  margin-bottom: 5px;
}

.poll-expiry-field {
  width: 100%;
  border: 1px solid #D0D8E2;
  padding-left: 32px;
  border-radius: 8px;
  margin-bottom: 16px !important;
}

.lm-chatroom-menu-item {
  font-size: 14px !important;
  color: rgba(0, 0, 0, .87) !important;
  padding: 10px 16px !important;
}

.poll-advanced-option-toggle {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ACB7C0;
  cursor: pointer;

}

.poll-advanced-option-text {

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.poll-advanced-options-container {
  height: 233px;
  border: 1px solid #D0D8E2 !important;
  border-radius: 10px;
  margin-bottom: 16px;
}

.poll-advanced-switch-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  border-bottom: 1px solid #D0D8E2;
}

.poll-create-button {
  margin-top: 12px !important;
  width: 54px;
  height: 54px;
  background-color: var(--color-green-secondary) !important;
  position: fixed;
  bottom: 16px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
}

/* Poll View */
.lm-poll {
  width: 320px !important;
}

.lm-poll .user-profile {
  margin: 0 0 0px 0;
}

.lm-poll .user-profile .info {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #9B9B9B;
}

.lm-poll .poll-header {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  align-items: center;
}

.lm-poll .poll-header button {
  background-color: #06C3AF;
  border: none;
  border-radius: 25px;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

.lm-poll .poll-header button.ends {
  background-color: #D0021B;
}

.lm-poll .poll-title {
  color: #020202;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 100%;
  word-wrap: break-word;
  margin: 10px 0;
}

.lm-poll .pollOptions {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;
}

.lm-poll .pollOptions .pollOption {
  width: 100%;
  float: left;
  border-radius: 8px;
  border: 1px solid #06C3AF;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #06C3AF;
  border-radius: 8px;
}

.pollOptionSelected {
  border: 1px solid #cffdf9 !important;
}

.pollOptionSubmitted {
  border: 1px solid #cffdf9;
  background-color: #cffdf9 !important;
}

.lm-poll .pollOptions .pollOption.bg {
  background: #cdf3ef;
}

.lm-poll .pollOptions .pollOption.bg-grey {
  color: #000;
  background: #D0D8E2;
  border-color: #D0D8E2;
  background: #d0d8e2;
}

.lm-poll .pollOptions .votes {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #075e54;
  margin: 5px 0 0 8px;
}

.lm-poll .pollOptions .votes.text-grey {
  color: #666;
}

.lm-poll .totalVotes {
  color: #06C3AF;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 5px 0;
  cursor: pointer;
}

.add-option-to-poll {
  padding: 8px 16px;
  text-align: center;
  border: 1px solid #D0D8E2;
  border-radius: 10px;
  color: #333;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}

.lm-poll-response-add-option-dialog {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 370px;
  position: relative;
}

.lm-poll-response-add-option-dialog-header {
  margin: 5px 15px;

}

.lm-poll-response-add-option-dialog-header-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.lm-poll-response-add-option-dialog-header-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

.lm-poll-response-add-option-dialog-body {
  margin: 15px 15px;
}

.lm-poll-response-add-option-dialog-body-text {
  font-size: 14px;
}

.lm-poll-response-add-option-input {
  width: 100%;
  border: 1px solid #D0D8E2;
  padding: 8px 16px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 14px;
}

.lm-poll-response-add-option-submit {
  width: 100%;
  border: none;
  color: #fff;
  background-color: #075e54;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.poll-submit-disabled {
  background-color: #e6ebf5;
  cursor: not-allowed;
}

.lm-poll-submit {
  margin: 15px 0px;
}

.lm-poll-submit-button {
  border: 1px solid #e6ebf5;
  border-radius: 24px;
  width: 150px;
  padding: 4px 16px;
  font-size: 14px;
}

.lm-poll-submit-button:hover {
  background-color: #e6ebf5;
}

.lm-poll-submit-button-active {
  background-color: #075e54;
  color: #fff;
  border: none;
}

/* Poll View */

/* lm voter tabs */
.lm-voter-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}

.lm-voter-tabs .counts {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #06c3af;
}

.react-tabs__tab-list {
  display: flex;
  justify-content: space-around;
}

.react-tabs__tab--selected {
  border-radius: 0% !important;
  background: none;
  border-color: transparent;
  color: #333;
  border: none !important;
  border-bottom: 2px solid #06c3af !important;
}

.lm-voters {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 0 0 10px 0;
  align-items: center;
}

.lm-voters .lm-voter-img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
}

.lm-voters .lm-voter-img img {
  width: 54px;
  height: 54px;
  object-fit: contain;
}

.lm-voters .lm-voter {
  width: 80%;
  border-bottom: 1px solid #f6f7f9;
  padding: 0 0 10px 0;
}

.lm-voters .lm-voter .lm-voter-name {
  font-weight: 500;
  color: #000000;
  text-transform: capitalize;
  margin-top: 5px;
  font-size: 14px;
}

.lm-voters .lm-voter .lm-voter-desc {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

/* lm voter tabs */



/* Message Response */
.lm-response-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(208, 216, 226, 0.5);
  overflow: hidden;
  padding: 0px 80px;
}

.lm-response {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 3px solid #008274;
  padding: 5px 10px;
}

.lm-response-cancel {
  width: 36px;
  margin: 0 0 0 10px;
}

.lm-res-name {
  font-size: 13px;
  color: #11c5b2;
  font-weight: bold;
}

/* Message reply input view */
.lm-input-message-reply {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #D0D8E2;
  padding-left: 50px;
  box-shadow: 3px 1px 4px rgba(0, 67, 34, 0.7);
}

.lm-input-message-reply-message-wrapper {
  background-color: #E8ECF2;
  border-left: 3px solid #008274;
  height: 100%;
  padding: 12px 8px;
  flex-grow: 1;
}

.lm-input-message-username {
  font-size: 13px;
  color: #11c5b2;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.lm-res-msg {
  font-size: 13px;
  color: #666666;
  word-break: break-word;
}

/* Message Response */

/* No Chatroom */
.noChatRoom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(72, 79, 103, 0.7);
}

.noChatRoom img {
  width: 256px;
  margin: 100px 0 20px 0;
}

/* No Chatroom */
.lm-input-message-text {
  font-size: 13px;
  color: #666666;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.lm-input-message-reply-close {
  padding: 12px;
  cursor: pointer;
  margin: 0 4px;
}

.initiate-dm-request-message {
  text-align: center;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  bottom: 0px;
  position: absolute;
  color: #666666;
}

.dm-request-respond-bottom-sheet {
  width: 100%;
  height: 160px;
  padding: 24px;
  opacity: 0.8px;
  margin-bottom: 1px solid black;
}

p.dm-request-respond-message {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #666666;
  margin: 0px;
  margin-bottom: 24px;
}

.dm-request-respond-action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.dm-request-action-button {
  width: 111px;
  height: 48px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  color: #000000;
  border: none;
}

.undo-dm-blocked {
  margin-left: 4px;
}

input.disabled-state {
  flex-grow: 1;
  border-radius: 24px;
  border: 1px solid #D1D8E2;
  background-color: #ffffff;
  outline: none;
  font-size: 14px;
}

/* search in conversations */
.lm-conversation-search {
  height: 62px !important;
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.lm-conversation-search-go-back-icon {
  padding: 8px;
}

.lm-conversation-search-input {
  flex-grow: 1;
}

.searched-conversation-ref-holder {
  transition: background-color 10s;
}

.message-highlight {
  animation-name: highlightConvo;
  animation-duration: 10s;
}

@keyframes highlightConvo {
  from {
    background-color: rgba(0, 137, 123, 0.16);
  }

  to {
    background-color: red;
  }
}

.lm-conversation-search-input-field {
  width: 100%;
  height: 100%;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

.lm-conversation-search-list {
  border-top: 1px solid #e0e0e0;
  max-height: 800px;
  overflow: auto;
  max-height: 500px;
  overflow: auto;
  position: relative;
  z-index: 12;
  background: #fff;
  box-shadow: 1px 1px 4px #ccc;
}

.lm-conversation-search-list-item {
  height: 86px;
  padding: 16px;
  display: flex;
  gap: 12px;
}

.lm-conversation-search-list-item:hover {
  background-color: #f0f0f0;
}

.search-conversation-member-icon {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.search-conversation-member-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-conversation-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-conversation-content p {
  margin: 0;
  line-height: 20px;
}

.search-conversation-user-meta {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
}

.search-conversation-message {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  ;
}

/* Ending conversations search */
/* Starting chatroom search */
.lm-chatroom-search {
  height: 62px !important;
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.lm-chatroom-search-go-back-icon {
  padding: 8px;
}

.lm-chatroom-search-input {
  flex-grow: 1;
}

.searched-conversation-ref-holder {
  transition: background-color 10s;
}

.lm-chatroom-search-input-field {
  width: 100%;
  height: 100%;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

.lm-chatroom-search-list {
  border-top: 1px solid #e0e0e0;
  max-height: 800px;
  overflow: auto;
  max-height: 500px;
  overflow: auto;
  position: relative;
  z-index: 12;
  background: #fff;
  box-shadow: 1px 1px 4px #ccc;
}

.lm-chatroom-search-list-item {
  height: 86px;
  padding: 16px;
  display: flex;
  gap: 12px;
}

.lm-chatroom-search-list-item:hover {
  background-color: #f0f0f0;
}

.search-chatroom-member-icon {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.search-chatroom-member-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-chatroom-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-chatroom-content p {
  margin: 0;
  line-height: 20px;
}

.search-chatroom-user-meta {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
}

.search-chatroom-message {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  ;
}

/* ending chatroom search */
.lm-add-emoji {
  width: 22px;
}


.lm-channel-header .search-input-wrapper {
  position: absolute;
  left: 13px;
  top: 9px;
  width: 98%;
}

.search-input-wrapper input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-results-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  z-index: 1000;
}

.search-result-item {
  padding: 8px;
  cursor: pointer;
}

.search-result-item:hover {
  background: #f0f0f0;
}

.lm-custom-menu {
  display: flex;
}

.lm-custom-menu ul {
  display: flex !important;
  width: 100%;
}

.header-back-icon {
  display: none;
  cursor: pointer;
  margin-right: 10px;
}

.lm-chatroom-topic {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 700px;
}

/* Responsive */

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  .header-back-icon {
    display: block;
  }

  .mobile-hide {
    display: none;
  }

  .lm-chatroom-topic {
    width: 300px;
  }

  .lm-left-panel {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #fff;
  }

  .lm-left-panel,
  .lm-right-panel,
  .lm-channel .conversation {
    width: 100%;
  }

  .lm-channel {
    padding: 20px;
  }

  .selected-gif-view-container {
    height: 100%;
  }

  .selected-gif-view-container img {
    height: auto;
    width: 60%;
  }

  .lm-channel .conversation {
    max-width: 310px;
  }

  .lm-poll-wrapper {
    width: 100%;
    padding: 25px;
  }

  .lm-poll-heading img {
    top: -10px;
    right: -10px;
  }

  .lm-channel-header .lm-header-right .lm-channel-icon {
    margin: 0 0 0 10px;
  }

  .lm-channel-header.topicHeader {
    margin: -20px;
    position: relative;
    z-index: 9;
  }

  .poll-create-button {
    bottom: -10px
  }

  .lm-channel .lm-dialog-modal {
    max-width: 100%;
    right: 0;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {}



/* Styles for AI-Chatbot */

.lm-chat-ai-bot-button {
  position: absolute;
  bottom: 48px;
  right: 24px;
}

.lm-chat-ai-bot-container {
  width: 400px;
  height: 600px;
  border-radius: 12px;
  border-width: 1px 0 0 0;
  position: absolute;
  overflow: auto;
  bottom: calc(100% + 12px);
  right: 0;
  border: 1px solid #E6EBF5;
}

.lm-ai-chatbot-error-state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lm-ai-chatbot-error-state>span {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 21px;
  color: #8E8E93;
}

.close-ai-chatbot {
  display: none;
}

@media only screen and (max-width: 475px) {
  .lm-chat-ai-bot-button.open-state {
    position: static
  }

  .lm-chat-ai-bot-fab-container {
    display: block !important;
  }

  .lm-chat-ai-bot-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .lm-channel {
    padding: 0;
  }

  .lm-chat-ai-bot-fab-button.open {
    display: none;
  }

  .close-ai-chatbot {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 22px;
    cursor: pointer;
  }

  .lm-chat-ai-bot-channel .lm-chat-card.receiver {
    width: 80vw;
  }
}


.lm-chat-ai-bot-loader {
  height: 100%;
}

.lm-chai-ai-bot-label {
  position: absolute;
  bottom: 117px;
  text-align: center;
  width: 100%;
  color: #9B9B9B;
}

.lm-chat-ai-bot-fab-button {
  padding: 12px 16px;
  background-color: #020D42;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  gap: 8px;
}

.lm-chat-ai-bot-fab-button.close {
  width: 140px;
  height: 48px;
}

.lm-chat-ai-bot-fab-button.close>img {
  height: 30px;
  width: 30px;
}

.lm-chat-ai-bot-fab-button.open {
  width: 140px;
  height: 48px;
}

.lm-chat-ai-bot-fab-button.open>img {
  width: 16px;
  height: 16px;
}

.lm-chat-ai-bot-fab-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}



.lm-chat-ai-bot-fab-container {
  display: inline-block;
  position: relative;
}

.lm-chat-ai-bot-channel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lm-chat-ai-bot-channel-header {
  width: 475px;
  height: 60px;
  padding: 12px 16px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0;
}

.lm-chat-ai-bot-input-attachment-selecter-wrapper {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #DAE1EE;
  background-color: white;
}

.lm-chat-ai-bot-input-attachment-selecter-wrapper:hover {
  background-color: #F5F5F5;
}

.lm-message-media-carousel-wrapper {
  height: 100%;
  position: relative;
  z-index: 10;
  background: white;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lm-media-render-close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #DAE1EE;
  border: none;
  border-radius: 50%;
  z-index: 1;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lm-media-render-close-icon>img {
  height: 24px;
  width: 24px;
}


::-webkit-scrollbar {
  width: 4px;
  /* Width of the scrollbar */
  height: 4px;
  /* Height for horizontal scrollbar */
}


/* The scrollbar thumb (scroll indicator) */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Gray color for the thumb */
  border-radius: 10px;
  /* Rounded edges */
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker color on hover */
}

/* Optional: Styling the corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background: #f0f0f0;
  /* Match the track background */
}

.lm-dual-scroll-container-bottom-block {
  height: 2px;
}

.lm-chat-conversation-preview-icon {
  margin-bottom: -4px;
}


/* CSS for voice notes */

.rhap_progress-filled,
.rhap_progress-indicator {
  background: #ff9500 !important;
}

.rhap_controls-section {
  flex-grow: 0 !important;
}

.rhap_container {
  padding: 10px 0px !important;
  box-shadow: none !important;
}

.rhap_play-pause-button {
  background: #ff9500 !important;
  border-radius: 50% !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.rhap_container {
  background-color: transparent;
}

/* Styles for toggle switch */

.lm-chat-channel-toggle button {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.lm-chat-channel-toggle .Mui-selected {
  color: var(--color-green-secondary) !important;
}

.lm-chat-channel-toggle .MuiTabs-indicator {
  background-color: var(--color-green-secondary);
}


.lm-chat-create-new-dm-conversation {
  width: 131px;
  height: 44px;
  border-radius: 24px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-green-secondary);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  right: 20px;
  bottom: 60px;
  color: white;
  cursor: pointer;
  z-index: 9;
}

.lm-chat-create-new-dm-conversation>img {
  height: 18px;
  width: 18px;
}

.lm-chat-new-chat {
  height: 80px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #101828;
  cursor: pointer;
}

.lm-chat-new-chat .avatar-initials {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8ecf2;
}

.lm-chat-new-chat>img {
  height: 48px;
  width: 48px;
  border: 50%;
}

.lm-channel-list-body {
  height: 100%;
}

.lm-chat-explore-chat-button {
  height: 64px;
  padding: 12px 8px;
}

.lm-chat-explore-chat-button .explore-button{
  display: flex;
  background-color: #E5F3F2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  padding: 12px;
  gap: 11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.lm-chat-explore-chat-button .explore-button > span{
  flex-grow: 1;
}

.lm-chat-icon-explore-chats {
  color: var(--color-green-secondary);
}

.lm-chat-box .MuiAlert-message{
  color: #484F67;
}
.MuiMenu-list{
  padding: 0px !important;
}