* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

/* LM - Styles */

.lm-d-flex {
  display: flex;
  width: 100%;
  height: 100vh;
}

.lm-left-panel {
  flex: 0 0 25%;
  height: 100%;
}

.lm-chat-panel {
  height: 100%;
  flex: 0 0 75%;
}

.lm-cursor-pointer {
  cursor: pointer;
}

.lm-cursor-pointer {
  cursor: pointer;
}

.justify-content-around {
  justify-content: space-around;
}

.flex-direction {
  flex-direction: column;
}

/* LM - Styles */

/* LM-Left-panel  */
.lm-channel-list {
  width: 100%;
  height: 100vh;
  overflow: auto;
  border-right: 1px solid #e6ebf5;
}

.lm-channel-list .lm-channel-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  border-bottom: 1px solid #dae1ee;
}

.lm-channel-list .lm-channel-list-header .title {
  color: #484f67;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.lm-channel-list .lm-channel-list-body {
  padding: 15px 0;
  width: 100%;
  height: 43vh;
  overflow-y: scroll;
}

.lm-channel-list .lm-channel-list-body .channel-media {
  display: flex;
  align-items: center;
  margin: 0 0 0px 0;
  cursor: pointer;
  padding: 10px 15px;
  gap: 20px;
}

.lm-channel-list .lm-channel-list-body .channel-media:hover,
.lm-channel-list .lm-channel-list-body .channel-media.selected {
  /* background-color: #f5f5f5; */
  background-color: #e6ebf5;
  transition: 0.3s all ease-in-out;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-icon {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
  /* margin: 0 13px 0 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: #484f67;
  font-size: 1rem;
  font-weight: bold;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc {
  padding: 18px 0;
  width: 81%;
  display: flex;
  justify-content: space-between;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #020202;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc button {
  background: #00897b;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 8px 15px;
  gap: 3px;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc button.joined {
  background: #fff;
  color: #00897b;
  border: 1px solid #00897b;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-info {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc .channel-info .channel-last-conversation{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}

.channel-unseen-convo-count{height: 16px;
  width: 16px;
  overflow: hidden;
  border-radius: 50%;
  background: #f00;
  font-size: 11px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #fff;
  line-height: 17px;
  font-weight: 400;}

.channel-info-gap {
  flex-grow: 1;
}

/* .lm-chat-message-reactions-holder{ */
.lm-chat-message-reaction{
  width: max-content;
  margin-bottom: 10px;
  height: 1.75rem;
  /* margin: 0 0.25rem 0 0; */
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  border-radius: 24px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #acb7c0;
  background-color: #fff;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.reaction-con{
  font-size: 14px;
}

/* LM-Left-panel  */

/* Header */
.lm-channel-header {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  background: #f6f7f9;
}

.lm-channel-header .lm-header-left {
  display: flex;
  align-items: center;
}

.lm-channel-header .lm-channel-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 20px 0 0;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #e0e0e0;
}

.lm-channel-header .lm-channel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lm-channel-header .lm-channel-desc {
  display: flex;
  flex-direction: column;
}

.lm-channel-header .lm-channel-desc .lm-channel-title {
  color: #020202;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 0px 0;
}

.lm-channel-header .lm-channel-desc .lm-channel-participants {
  color: #818182;
  font-size: 14px;
  font-weight: 400;
}

.lm-channel-header .lm-header-right {
  display: flex;
  align-items: center;
}

.lm-channel-header .lm-header-right .lm-channel-icon {
  height: 22px;
  width: 22px;
  margin: 0 35px 0 0;
}

.lm-channel-header .lm-header-right .lm-channel-icon img {
  width: 100%;
  cursor: pointer;
}

.lm-channel-header .lm-header-right .lm-channel-icon img.menu {
  width: 100%;
  height: 20px;
  padding: 2px 8px;
}

/* Header */

/* Message Box */
.lm-channel {
  background-color: #e6ebf5;
  padding: 0 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
}

.lm-channel .dmReqBlock {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #b1bbc5;
}

.lm-channel .dmReqBlock p {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 24px 0;
  text-align: center;
}

.lm-channel .dmReqBlock .dmActions {
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.lm-channel .dmReqBlock .dmActions button {
  width: 110px;
  height: 48px;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  padding: 16px 0;
  border: none;
  cursor: pointer;
}

.lm-channel .data-pill {
  width: auto;
  border-radius: 16px;
  padding: 3px 8px;
  margin: 10px auto;
  background-color: #acb7c0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.lm-chat-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lm-chat-card .actions {
  display: none;
  gap: 10px;
  color: #666;
}

.lm-chat-card:hover .actions {
  display: flex;
  transition: all 0.5s ease-in-out;
}

.lm-channel .lmUserData {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #acb7c0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lm-channel .conversation {
  max-width: 425px;
  min-width: 180px;
  width: auto;
  border-radius: 15px;
  padding: 14px 14px 8px 14px;
  margin: 0 0 2px 0;
  background-color: #fff;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.lm-channel .conversation .name {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 16px;
  color: #837fba;
  margin: 0 0 4px 0;
  cursor: pointer;
}

.lm-channel .conversation .msg {
  color: #020202;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.lm-channel .conversation .time {
  color: #8a8a8e;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.lm-channel .conversation.receiver {
  background-color: #fff;
  float: left;
  clear: both;
  /* margin-right: auto; */
}

.lm-channel .conversation.sender {
  background-color: #e1fefb;
  float: right;
  clear: both;
  /* margin-left: auto; */
}

.lm-chat-card.sender {
  flex-direction: row-reverse;
}

/* Message Box */

/* LM Input */
.lm-channel-footer-wrapper {
  position: relative;
}

.lm-input-carousel .slider-wrapper .slider {
  display: flex;
}

.lm-input-carousel {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: flex;
  width: 100%;
  height: 86vh;
  z-index: 99;
  justify-content: center;
  align-items: center;
  background: #000000b3;
  overflow: hidden;
}

.lm-input-carousel-image-element {
  width: 100%;
  max-height: 415px;
  object-fit: contain;
}

.lm-input-carousel-video-element {
  width: 100%;
  max-height: 415px;
  object-fit: contain;
}

.lm-input-carousel-document-element {
  width: 100%;
  max-height: 415px;
  object-fit: contain;
}

.lm-input-carousel ul li {
  list-style: none;
}

.lm-input-carousel .control-arrow,
.lm-input-carousel .carousel-status {
  display: none;
}

.lm-input-carousel .thumbs {
  display: flex;
  justify-content: center;
  gap: 0px;
}

.lm-input-carousel .thumbs .thumb img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border: 2px solid transparent;
}

.lm-input-carousel .thumbs .thumb.selected img {
  border: 2px solid #7b94ea;
}

.lm-upload-media-dialog {
  padding: 0px 5px;
  display: flex;
}

.lm-chat-input-attachment-label label input {
  display: none;
}

.lm-chat-input-attachment-label label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lm-chat-input-attachment-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0px 10px;
}

.lm-chat-input-attachment-label .title {
  color: #9b9b9b;
  font-size: 13px;
  white-space: nowrap;
}

.lm-lm-d-flex {
  display: flex;
}

.lm-content-center {
  justify-content: center;
}

.lm-date-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lm-chat-text-area-wrapper {
  flex-grow: 1;
  border-radius: 24px;
  box-shadow: 0 0 2px #3a465d80;
}

.lm-chat-text-area__input-box {
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  max-height: 80px;
  overflow-y: auto;
}

.lm-chat-text-area__input-box:focus {
  outline: none;
}

.lm-channel-footer {
  padding: 8px 16px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
}

.lm-channel-footer .disable-input {
  border-radius: 24px;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #dae1ee;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #808080;
}

.lm-channel-footer input {
  border-radius: 24px;
  color: #808080;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #dae1ee;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.lm-channel-footer .lm-channel-icon {
  width: auto;
  margin: 0 16px 0 0;
}

.lm-channel-footer .lm-channel-icon.send {
  margin: 0 0px 0 16px;
}

.lm-channel-footer .lm-channel-icon img {
  width: 100%;
}

/* LM Input */

.customClass {
  color: red;
  background: #f0f0f0;
  padding: 16px;
  border-radius: 8px;
  margin: 0 0 16px 0;
  width: 250px;
}

.text-center {
  text-align: center;
}

/* Error */
.lmError {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f4ff;
}

.lmError .lmErrorBox {
  padding: 3rem;
  box-shadow: 0 0 3px #ccc;
  border-radius: 10px;
  background: #fff;
}

.lmError .lmErrorBox h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #212b33;
  letter-spacing: 3px;
}

.lmError .lmErrorBox .lmErrorTitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #212b33;
}

.lmError .lmErrorBox .lmErrorMsg {
  font-size: 1rem;
  color: #6c6e70;
}

/* Error */
.lm-dual-scroll-container {
  position: relative;
  overflow-y: scroll;
  height: 100vh;
  display: block;
  width: 100%;
}

.gifContainer {
  width: 100% !important;
}


/* Participants list */
.lm-participant-wrapper {
  width: 100%;
  float: left;
}

.lm-participant-header {
  width: 100%;
  float: left;
  background: #D0D8E2;
  padding: 15px 20px;
  border-bottom: 1px solid #dae1ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lm-participant-header .heading {
  font-size: 20px;
  color: #000;
  line-height: 23px;
  font-weight: 400;
  display: flex;
  gap: 20px;
}

.lm-participant-header .heading .back-icon {
  font-size: 20px;
  cursor: pointer;
}

.lm-participant-header .counts {
  font-size: 14px;
  color: #666;
  line-height: 16px;
  font-weight: 400;
}

.lm-participant-body {
  width: 100%;
  /* float: left; */
  padding: 20px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  gap: 20px;
}

.lm-participant-card {
  display: flex;
  gap: 20px;
  align-items: center;
}

.lm-delete-msg {
  color: #9b9b9b;
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
}

.lm-participant-card .lm-participant-card-user {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  display: flex;
  text-transform: capitalize;
}

.lm-participant-card .lm-participant-card-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lm-participant-card .lm-participant-card-detail {
  width: 94%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: capitalize;
}

.lm-participant-card .lm-participant-card-detail .name {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 18px;
}

.lm-media {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;


}

.lm-media img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.lm-media .pdf {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 8px;
  background: #f9f9f9;
  border-radius: 8px;
  gap: 5px;
}

.lm-media .pdf img {
  width: 24px;
}

.lm-media .pdf .pdfName {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lm-participant-card .lm-participant-card-detail .desc {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  line-height: 18px;
  border-bottom: 1px solid #e7ebf1;
  padding-bottom: 12px;
}

/* Participants list */

.lmReportPostWrapper {
  max-width: 25rem;
  width: 100%;
  background: var(--light-color);
  position: relative;
}

.lmReportPostWrapper__header {
  position: relative;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 500;
  line-height: 1.5rem;
  /* 24px */
  display: flex;
  justify-content: center;
  margin: 1.25rem 0 2.25rem 0;
  /* 20px 0 36px 0 */
  color: var(--dark-color);
}

.lmReportPostWrapper__header__closeIcon {
  position: absolute;
  top: 1rem;
  /* 16px */
  right: 1rem;
  /* 16px */
  cursor: pointer;
}

.lmReportPostWrapper__body {
  padding: 0 1.875rem;
  /* 30px */
}

.lmReportPostWrapper__body__content {
  margin-bottom: 1.875rem;
  /* 30px */
}

.lmReportPostWrapper__body__content--texted {
  margin: 0 0 0.3125rem 0;
  /* 0 0 5px 0 */
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.lmReportPostWrapper__body__content--texted span {
  font-weight: 500;
}

.lmReportPostWrapper__body__content__types {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0.625rem 0 0 0;
  /* 10px 0 0 0 */
}

.lmReportPostWrapper__body__content__types span {
  border-radius: 1.25rem;
  /* 20px */
  border: 0.0625rem solid rgba(72, 79, 103, 0.5);
  /* 1px */
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
  color: rgba(72, 79, 103, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  /* 20px */
  float: left;
  cursor: pointer;
}

.lmReportPostWrapper__body__content__types span.active {
  border: 0.0625rem solid rgba(0, 0, 0, 0.87);
  /* 1px */
  color: rgba(0, 0, 0, 0.87);
}

.lmReportPostWrapper__body__content__actions {
  display: flex;
  margin: 1.25rem 0 0 0;
  /* 20px 0 0 0 */
  flex-direction: column;
  gap: 1.25rem;
  /* 20px */
}

.lmReportPostWrapper__body__content__actions--input {
  width: 100%;
  padding: 0.75rem 0.9375rem;
  /* 12px 15px */
  border-radius: 0.5rem;
  /* 8px */
  border: 1px solid rgba(72, 79, 103, 0.5);
  outline: none;
}

.lmReportPostWrapper__body__content__actions--btnReport {
  width: 100%;
  border: none;
  color: var(--light-color);
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 1.25rem;
  /* 20px */
  border-radius: 0.5rem;
  /* 8px */
  padding: 0.75rem 0.9375rem;
  /* 12px 15px */
  cursor: pointer;
}

.lmReportPostWrapper__body__content__actions--btnReport:disabled {
  width: 100%;
  border: none;
  color: var(--light-color);
  background-color: #e6ebf5;
  font-weight: 500;
  font-size: 1.25rem;
  /* 20px */
  border-radius: 0.5rem;
  /* 8px */
  padding: 0.75rem 0.9375rem;
  /* 12px 15px */
  cursor: pointer;
}


/* // Report Post Dialog */

/* media.css */
/* app.css */
.lm-media .thumbnail-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.lm-media .thumbnail-wrapper {
  position: relative;
  border-radius: 5px;
  /* width: 100px;
  height: 100px; */
  overflow: hidden;
}

.lm-media .thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.lm-media .single-media {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.lm-media .more-attachments-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

/* 
.carousel-media {
  max-height: 250px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
} */

.lm-media video {
  max-height: 300px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.lm-modal-media {
  width: 100%;
  /* display: flex !important; */
  /* justify-content: center; */
  /* align-items: center; */
}

.lm-modal-media img,
.lm-modal-media video {
  max-height: 300px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.modal-header {
  border: none;
}

/* .lm-chat-message-reactions-holder {
  display: flex;
  flex-direction: row-reverse;
} */
.lm-channel-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.lm-carousel-header{
  width: 100%;
  display: flex;
  gap: 10px;
}
.lm-carousel-header .lm-profile{
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 16px;
}
.lm-carousel-header .lm-profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lm-carousel-header .lm-profile-info{ display: flex; flex-direction: column;}
.lm-carousel-header .lm-profile-info .lm-name{ font-size: 16px; color: #333;}
.lm-carousel-header .lm-profile-info .lm-desc{ font-size: 14px; color: #666; font-weight: 400;}
 