* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

/* LM - Styles */

.d-flex {
  display: flex;
  width: 100%;
  height: 100vh;
}

.lm-left-panel {
  flex: 30%;
}

.lm-chat-panel {
  flex: 70%;
}

.justify-content-around {
  justify-content: space-around;
}

.flex-direction {
  flex-direction: column;
}

/* LM - Styles */

/* LM-Left-panel  */
.lm-channel-list {
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.lm-channel-list .lm-channel-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  border-bottom: 1px solid #dae1ee;
}

.lm-channel-list .lm-channel-list-header .title {
  color: #484f67;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.lm-channel-list .lm-channel-list-body {
  padding: 15px;
  width: 100%;
}
.lm-channel-list .lm-channel-list-body .channel-media {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}
.lm-channel-list .lm-channel-list-body .channel-media .channel-icon {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 13px 0 0;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-icon img {
  width: 100%;
}

.lm-channel-list .lm-channel-list-body .channel-media .channel-desc {
  padding: 18px 0;
  border-bottom: 1px solid #e0e0e0;
  width: 83%;
}

.lm-channel-list
  .lm-channel-list-body
  .channel-media
  .channel-desc
  .channel-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #020202;
}

.lm-channel-list
  .lm-channel-list-body
  .channel-media
  .channel-desc
  .channel-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666;
}

/* LM-Left-panel  */

/* Header */
.lm-channel-header {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  background: #f6f7f9;
}

.lm-channel-header .lm-header-left {
  display: flex;
  align-items: center;
}

.lm-channel-header .lm-channel-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 20px 0 0;
}

.lm-channel-header .lm-channel-img img {
  width: 100%;
}

.lm-channel-header .lm-channel-desc {
  display: flex;
  flex-direction: column;
}

.lm-channel-header .lm-channel-desc .lm-channel-title {
  color: #020202;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 0px 0;
}

.lm-channel-header .lm-channel-desc .lm-channel-participants {
  color: #818182;
  font-size: 14px;
  font-weight: 400;
}

.lm-channel-header .lm-header-right {
  display: flex;
  align-items: center;
}

.lm-channel-header .lm-header-right .lm-channel-icon {
  height: 22px;
  width: 22px;
  margin: 0 35px 0 0;
}

.lm-channel-header .lm-header-right .lm-channel-icon img {
  width: 100%;
  cursor: pointer;
}

.lm-channel-header .lm-header-right .lm-channel-icon img.menu {
  width: 100%;
  height: 20px;
  padding: 2px 8px;
}

/* Header */

/* Message Box */
.lm-channel {
  background-color: #e6ebf5;
  padding: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
}

.lm-channel .dmReqBlock {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #b1bbc5;
}
.lm-channel .dmReqBlock p {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 24px 0;
  text-align: center;
}
.lm-channel .dmReqBlock .dmActions {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
.lm-channel .dmReqBlock .dmActions button {
  width: 110px;
  height: 48px;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  padding: 16px 0;
  border: none;
  cursor: pointer;
}

.lm-channel .data-pill {
  width: auto;
  border-radius: 16px;
  padding: 3px 8px;
  margin: 10px auto;
  background-color: #acb7c0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
.lm-channel .conversation {
  max-width: 425px;
  min-width: 180px;
  width: auto;
  border-radius: 15px;
  padding: 14px 14px 8px 14px;
  margin: 0 0 2px 0;
  background-color: #fff;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.lm-channel .conversation .name {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #f2749a;
  margin: 0 0 4px 0;
  cursor: pointer;
}
.lm-channel .conversation .msg {
  color: #020202;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}
.lm-channel .conversation .time {
  color: #8a8a8e;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
}

.lm-channel .conversation.receiver {
  background-color: #fff;
  float: left;
  clear: both;
  margin-right: auto;
}
.lm-channel .conversation.sender {
  background-color: #e1fefb;
  float: right;
  clear: both;
  margin-left: auto;
}

/* Message Box */

/* LM Input */
.lm-channel-footer {
  padding: 8px 16px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
}
.lm-channel-footer .disable-input {
  border-radius: 24px;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #dae1ee;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #808080;
}

.lm-channel-footer input {
  border-radius: 24px;
  color: #808080;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #dae1ee;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.lm-channel-footer .lm-channel-icon {
  width: auto;
  margin: 0 16px 0 0;
}

.lm-channel-footer .lm-channel-icon.send {
  margin: 0 0px 0 16px;
}

.lm-channel-footer .lm-channel-icon img {
  width: 100%;
}

/* LM Input */

.customClass {
  color: red;
  background: #f0f0f0;
  padding: 16px;
  border-radius: 8px;
  margin: 0 0 16px 0;
  width: 250px;
}

.text-center {
  text-align: center;
}

/* Error */
.lmError {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f4ff;
}
.lmError .lmErrorBox {
  padding: 3rem;
  box-shadow: 0 0 3px #ccc;
  border-radius: 10px;
  background: #fff;
}
.lmError .lmErrorBox h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #212b33;
  letter-spacing: 3px;
}
.lmError .lmErrorBox .lmErrorTitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #212b33;
}
.lmError .lmErrorBox .lmErrorMsg {
  font-size: 1rem;
  color: #6c6e70;
}
/* Error */
.lm-dual-scroll-container {
  position: relative;
  overflow-y: scroll;
}
